body {
    background-color: #1a1e22;
}

#header {
  width:100vw;
  height:100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;
}
button.scroll:hover {
  transform: scale(1.2);
  transition: all 1s;
  transform-origin: 50% 50%;
}

button.scroll {
    background: url("../assets/scroll_down.svg");
    border: none;
    display: block;
    left:50%;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    width:8em;
    height:10em

}

h1#headtext {
 font: 6vw "Futura", sans-serif;
 color: #ded63a;
 text-align: center;
 border: none;
}

div#links {
    font-family: "Palatino Linotype","Book Antiqua","Palatino",serif;
    color: #fff5d0;
}

div#links a {
  font: 2.2vw "Futura", sans-serif;
  color: #ded63a;
  text-decoration : none;
}

div#links {
  margin-left: 15%;
  margin-right: 15%;
  display: block;
  text-align: center;
}

section#about.slide {
  background-color: #00b5ec;
}

section#about p {
  font: 2.2vw "Futura", sans-serif;
  color: black;
  text-align:center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.slide {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width:100vw;
  height:30em;
}
